<section>
  <div class="row">
    <div class="col-12">
      <!-- Header -->
      <div class="row mb-3">
        <div class="col-md-12">
          <h4 class="heading">{{ title }}</h4>
        </div>
      </div>

      <ngx-datatable
        class="bootstrap core-bootstrap"
        [rows]="companyData"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="50"
        [limit]="15"
        [scrollbarH]="true"
        [loadingIndicator]="loading"
        [selected]="chkBoxSelected"
        [swapColumns]="false"
        [selectionType]="SelectionType.checkbox"
        (sort)="onSort($event)"
        (select)="customChkboxOnSelect($event)">
        
        <!-- Checkbox -->
        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false"
          [draggable]="false" [resizeable]="false">
          <ng-template ngx-datatable-header-template>
            <div class="custom-control">
              <input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)" />
            </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- Name -->
        <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>

        <!-- Status -->
        <ngx-datatable-column name="Status" prop="status">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="badge"
              [ngClass]="row.status === 'inprocess' ? 'badge-warning' : 'badge-success'">
              {{ row.status }}
            </span>
          </ng-template>
        </ngx-datatable-column>

        <!-- Street -->
        <ngx-datatable-column name="Street" prop="street"></ngx-datatable-column>

        <!-- City -->
        <ngx-datatable-column name="City" prop="city"></ngx-datatable-column>

        <!-- Contact Number -->
        <ngx-datatable-column name="Contact Number" prop="contactNumber"></ngx-datatable-column>

        <!-- Edit Button -->
        <ngx-datatable-column name="Edit" [sortable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <!-- Hide edit button when status is approve -->
            <button *ngIf="row.status !== 'approve'" class="btn btn-sm btn-primary" (click)="editCompany(row)">
              <i class="ft-edit"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</section>
