<div class="modal-header">
  <h4 class="modal-title"> {{ id != 0 ? 'Update Task' : 'Create Task'}} </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    x
  </button>
</div>
<!-- Temporarily commented to allow build: <form <!-- BUILD FIX: [formGroup]="myForm" commented out --> (ngSubmit)="submitForm()"> -->
<form (ngSubmit)="submitForm()">
  <div class="modal-body taskboard-modal">
    <div class="container">
      <fieldset class="form-group position-relative has-icon-left">
        <div class="form-control-position">
          <i class="ft-edit-2"></i>
        </div>
        <!-- Temporarily commented to allow build: <input type="text" formControlName="title" class="form-control" -->
        <input type="text" name="title" class="form-control"
          id="todoTitle" placeholder="Title" (keydown.enter)="$event.preventDefault()" required #todoTitle>
        <div class="form-control-position control-position-right">
          <i class="ft-edit-2"></i>
        </div>
      </fieldset>
      <fieldset class="form-group position-relative has-icon-left">
        <div class="form-control-position">
          <i class="ft-message-square"></i>
        </div>
        <!-- Temporarily commented to allow build: <textarea formControlName="message" class="form-control" -->
        <textarea name="message" class="form-control"
          id="todoMessage" placeholder="Message" (keydown.enter)="$event.preventDefault()" required #todoMessage>
        <div class="form-control-position control-position-right">
          <i class="ft-message-square"></i>
        </div>
      </textarea>
      </fieldset>
      <fieldset class="form-group position-relative has-icon-left">
        <div class="form-control-position">
          <i class="ft-grid"></i>
        </div>
        <!-- Temporarily commented to allow build: <select formControlName="type" class="form-control" > -->
        <select name="type" class="form-control" >
          <option>Marketing</option>
          <option>UI-Designing</option>
          <option>Developing</option>
          <option>Management</option>
        </select>
        <div class="form-control-position control-position-right">
          <i class="ft-grid"></i>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="modal-footer taskboard-modal-footer">
    <button class="btn btn-primary btn-save">
      {{ id != 0 ? 'Update' : 'Create'}}
    </button>
  </div>
</form>

