<div class="modal-header">
  Attachments
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="AttachmentForm">
    <div class="form-row">

      <!-- PROCUREMENT ATTACHMENTS -->
      <div class="col-12 mt-2">
        <h5 class="heading-upload mb-2">Procurement Attachments</h5>
      </div>

      <div class="col-12 form-group" *ngIf="procurementAttachments.length > 0; else noProcFiles">
        <ngx-datatable class="bootstrap core-bootstrap" [rows]="procurementAttachments" [columnMode]="'standard'"
          [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [scrollbarH]="true">

          <ngx-datatable-column name="Sr. No." [width]="80">
            <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{ rowIndex + 1 }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="File Name" prop="fileName" [width]="300"></ngx-datatable-column>
          <ngx-datatable-column name="Type" prop="contentType" [width]="200"></ngx-datatable-column>

          <ngx-datatable-column name="Actions" [width]="100">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
              <a matTooltip="Download File" style="cursor: pointer; color: #5a5a5a; margin-right: 10px;"
                (click)="downloadLocalFile(procurementAttachments[rowIndex])">
                <i class="ft-download" style="font-size: 1.3rem;"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>

      <ng-template #noProcFiles>
        <div class="col-12 text-muted small mt-2">
          No attachments were uploaded by procurement.
        </div>
      </ng-template>

      <hr class="my-3" />

      <!-- VENDOR ATTACHMENTS -->
      <div class="col-12 mt-3">
        <h5 class="heading-upload mb-2">Vendor Attachments</h5>
      </div>

      <div class="col-12 form-group mt-2">
        <input type="file" *ngIf="!viewMode" (change)="onFileSelected($event)" class="form-control1"
          accept=".pdf, .doc, .docx, .xls, .csv" multiple>
      </div>

      <div class="col-12 form-group mt-3" *ngIf="vendorAttachments.length > 0">
        <ngx-datatable class="bootstrap core-bootstrap" [rows]="vendorAttachments" [columnMode]="'standard'"
          [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [scrollbarH]="true">

          <ngx-datatable-column name="Sr. No." [width]="80">
            <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
              {{ rowIndex + 1 }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="File Name" prop="fileName" [width]="300"></ngx-datatable-column>
          <ngx-datatable-column name="Type" prop="contentType" [width]="200"></ngx-datatable-column>

          <ngx-datatable-column name="Actions" [width]="100">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
              <a matTooltip="Download" style="cursor: pointer; color: #5a5a5a; margin-right: 10px;"
                (click)="downloadLocalFile(vendorAttachments[rowIndex])">
                <i class="ft-download" style="font-size: 1.3rem;"></i>
              </a>

              <a *ngIf="!viewMode" matTooltip="Delete" style="cursor: pointer; color: #d9534f;"
                (click)="deleteVendorAttachment(rowIndex)">
                <i class="ft-trash" style="font-size: 1.3rem;"></i>
              </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>

      <!-- Upload Button -->
      <div class="col-12 form-group mt-3 text-right">
        <button type="button" class="btn btn-primary" (click)="uploadFiles()" [disabled]="viewMode">
          Upload Files
        </button>
      </div>
    </div>
  </form>
</div>