

        <!-- Action Bar -->
        <div class="card cstm-ui-card mb-3 py-2 px-3 d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-center">
                <button class="btn btn-lg position-relative me-2" type="button" (click)="goBack()">
                    <i class="ft-arrow-left"></i>
                </button>
                <h5 class="mt-2 fw-bold">Shipment Details</h5>
                <!-- <h5 class="mt-2 fw-bold">
                    {{ isEdit ? 'Update Shipment Details' : 'Add Shipment Details' }}
                </h5> -->

            </div>
        </div>

        <!-- Shipment Form -->
        <div class="card shadow-sm p-3 border border-success rounded" [formGroup]="form">

            <!-- <h6 class="fw-bold mb-3">Add Shipment</h6> -->
            <h5 class="mt-2 fw-bold">
                {{ isEdit ? 'Update Shipment Details' : 'Add Shipment Details' }}
            </h5>
            <div class="row">
                <div *ngIf="isEdit" class="row mt-2 mb-3">
                    <div class="col-md-4">
                        <label class="form-label small">Purchase Order No</label>
                        <input class="form-control form-control-sm" [value]="purchaseOrderNo" disabled>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label small">Vendor Name</label>
                        <input class="form-control form-control-sm" [value]="vendorName" disabled>
                    </div>
                </div>


                <div class="col-md-4 mb-3">
                    <label class="form-label small">Country</label>
                    <input class="form-control form-control-sm" formControlName="country">
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label small">City</label>
                    <input class="form-control form-control-sm" formControlName="city">
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label small">Shipping Address</label>
                    <input class="form-control form-control-sm" formControlName="shippingAddress">
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label small">Shipment Date</label>
                    <input type="date" class="form-control form-control-sm" formControlName="shipmentDate">
                </div>

                <div class="col-md-4 mb-3">
                    <label class="form-label small">Delivery Date</label>
                    <input type="date" class="form-control form-control-sm" formControlName="deliveryDate">
                </div>

                <div class="col-md-12 mb-3">
                    <label class="form-label small">Notes</label>
                    <textarea class="form-control form-control-sm" rows="2" formControlName="notes"></textarea>
                </div>
            </div>

            <!-- <div>
                <button class="btn btn-secondary btn-sm" (click)="goBack()">Cancel</button>
                <button class="btn btn-primary btn-sm" (click)="save()">Save Shipment</button>
            </div> -->
            <div class="d-flex justify-content-between mt-3">
                <!-- <button class="btn btn-primary btn-sm" (click)="save()">Save Shipment</button> -->
                <button class="btn btn-primary btn-sm" (click)="save()">
                    {{ isEdit ? 'Update Shipment' : 'Save Shipment' }}
                </button>
                <button class="btn btn-secondary btn-sm" (click)="goBack()">Cancel</button>
            </div>
        </div>
