<!--Fullscreen Map Starts-->
<section id="fullscreenMap" class="mb-3">
    <div class="row">
        <google-map
            [center]="center"
            [zoom]="zoom"
            height="100vh"
            width="100%"
            style="position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
            <map-marker
                [position]="markerPosition"
                [label]="markerLabel"
                [title]="markerTitle">
            </map-marker>
        </google-map>
    </div>
</section>
<!--Fullscreen Map Ends-->