<!-- <div class="modal-header">
    <h4 class="modal-title">{{ isEditMode ? 'Edit Contact' : 'Add Contact' }}</h4>
    <button class="ft-x btn white" (click)="activeModal.dismiss()">
    </button>
  </div> -->
  <div class="">
    <form #contactForm="ngForm" class="row">
      <div class="form-group col-md-3">
        <label>Description</label>
        <input type="text" class="form-control" [(ngModel)]="contact.description" name="description" required>
      </div>
      <div class="form-group col-md-3">
        <label>Type</label>
        <select class="form-control" [(ngModel)]="contact.type" name="type" (change)="updateContactLabel()" required>
          <option value="phoneNo">Phone No</option>
          <option value="Email">Email</option>
          <option value="Fax">Fax</option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label>Contact Number</label>
        <input type="text" class="form-control" [(ngModel)]="contact.contactNumber" name="contactNumber" required>
      </div> -->
      <div class="form-group col-md-3">
        <label>{{ contactLabel }}</label>
        <input
        [type]="inputType"
          class="form-control"
          [(ngModel)]="contact.contactNumber"
          [placeholder]="contactPlaceholder"
          name="contactNumber"
          required
        >
      </div>
      <div class="form-group col-md-3" *ngIf="showExtension">
        <label>Extension</label>
        <input type="text" class="form-control" [(ngModel)]="contact.extension" name="extension">
      </div>
      <div class="row mt-2">
         <div class="form-group">
        <label class="checkbox-text">
          <input type="checkbox" [(ngModel)]="contact.primary" name="primary">
          Primary
        </label>
      </div>
      </div>
     
      <!-- <button type="submit" class="btn btn-primary">Add Contact</button> -->
    </form>
      <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="submitForm()"><i class="ft-chevrons-down me-1"></i>{{ isEditMode ? 'Update' : 'Add' }} Contact</button>
  </div>
  </div>
