<nav
  class="vp-navbar d-none d-md-block"
  [ngClass]="{ 'fixed-top': isSmallScreen && menuPosition === 'Top' }"
>
  <div class="vp-rail">

 
  <div class="vp-container">
    <!-- Left: Logo -->
    <a class="vp-logo" [routerLink]="['/dashboard/dashboard1']">
      <img [src]="logoUrl" alt="Vendor Portal" />
    </a>

     <button class="icon-btn" appToggleFullscreen (click)="ToggleClass()">
        <i class="{{ toggleClass }}"></i>
      </button>

    <!-- Center: Rounded Tabs (scrollable if overflow) -->
    <div class="vp-pill">
      <ul class="vp-tabs" (clickOutside)="toggleSearchOpenClass(false)">
  <li *ngFor="let item of menuItems"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

    <!-- internal route -->
    <a *ngIf="!item.isExternalLink"
       [routerLink]="[item.path]">
      {{ item.title }}
    </a>

    <!-- external link -->
    <a *ngIf="item.isExternalLink"
       [href]="item.path"
       target="_blank"
       rel="noopener">
      {{ item.title }}
    </a>
  </li>
</ul>
    </div>

    <!-- Right: Actions -->
    <div class="vp-actions">
      <!-- Fullscreen / any quick action -->

       <button class="icon-btn">
        <i class="ft-regular ft-bell"></i>
      </button>
      <!-- User dropdown (kept from your code) -->
      <div class="dropdown"
      container="body"
      ngbDropdown  placement="bottom-right">
        <a class="user-btn" ngbDropdownToggle>
          <!-- <span class="user-name d-none d-md-inline">{{ username }}</span> -->
          <img
            class="avatar"
            src="assets/img/portrait/small/avatar-s-1.png"
            alt="avatar"
            height="34"
            width="34"
          />
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/pages/profile">
            <i class="ft-edit mr-2"></i> Edit Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="ft-power mr-2"></i> Logout
          </a>
        </div>
      </div>
     
      
    </div>

    <!-- Mobile hamburger (optional) -->
    <button class="vp-burger d-xl-none" (click)="toggleSidebar()">
      <i class="ft-menu"></i>
    </button>
  </div>

   </div>
</nav>


<!-- MOBILE NAVBAR -->
<nav class="vp-mobile d-md-none fixed-top">
  <div class="vp-mobile-wrap">
    <!-- Left: hamburger in soft square -->
    <button class="icon-square" (click)="toggleSidebar()" aria-label="Menu">
      <i class="ft-menu"></i>
    </button>

    <!-- Right: circle icon buttons + avatar -->
    <div class="vp-mobile-actions">
      <button class="icon-circle"  aria-label="Search">
        <i class="ft-search"></i>
      </button>
      <button class="icon-circle"  aria-label="Filters">
        <i class="ft-sliders"></i>
      </button>
      <button class="icon-circle"  aria-label="Notifications">
        <i class="ft-bell"></i>
      </button>

      <!-- User dropdown -->
      <div class="dropdown" ngbDropdown container="body" placement="bottom-right">
        <a class="avatar-btn d-flex" ngbDropdownToggle>
          <img
            class="avatar"
            [src]="profilePicture || 'assets/img/portrait/small/avatar-s-1.png'"
            alt="avatar"
            height="34"
            width="34"
          />
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/pages/profile">
            <i class="ft-edit mr-2"></i> Edit Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="ft-power mr-2"></i> Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Optional: push page content down when mobile bar is fixed -->
<div class="vp-mobile-offset d-md-none"></div>
