<div class="card OTP">
  <div class="card-body">
    <div class="back-btn">
      <button class="back-icon-div" [routerLink]="['/pages/login']"><i class="ft-arrow-left back-icon"></i></button>
    </div>
    <div class="w-100 mb-3 text-center">
      <h2 class="heading mb-2">OTP Verification</h2>
      <p>Please enter the 6-digit OTP code sent to your email/phone</p>
    </div>

    <!-- OTP Form -->
    <form [formGroup]="otpForm">
      <div class="form-group mb-3">
        <!-- <input type="text" formControlName="otp" maxlength="6" class="form-control text-center" placeholder="Enter OTP"
          [ngClass]="{ 'is-invalid': otpFormSubmitted && lf.otp.invalid, 'is-valid': otpFormSubmitted && !lf.otp.invalid }"
          required> -->

        <div class="d-flex justify-content-center">
          <!-- <ng-otp-input formControlName="otp" style="min-height: 0px;" [config]="{length:6}"></ng-otp-input> -->
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6 }"></ng-otp-input>

        </div>

        <div *ngIf="otpFormSubmitted && lf.otp.invalid" class="help-block mt-1 text-danger text-center">
          <i class="ft-alert-circle align-middle"></i> OTP is required
        </div>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <button type="button" class="btn btn-primary w-100 login-btn" (click)="onSubmit()">Verify OTP</button>
      </div>

      <div class="text-center">
        <a href="javascript:void(0)" (click)="resendOtp()" class="text-primary">Resend OTP</a>
      </div>
    </form>

    <div class="row mt-3">
      <div class="col-12 text-center">
        <label class="mt-1 me-1">Go Back to </label>
        <b><a routerLink="/pages/login">Login</a></b>
      </div>
    </div>
  </div>
</div>