<section id="login" class="container-fluid">
    <div class="row register-container m-0">
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-image">
            <div class="icon-container position-absolute">
                <img src="/assets/img/logos/login-logo.png" alt="Icon" class="icon-img">
            </div>
            <div class="content text-white text-center">
                <h1 class="text-white vendor-title">Vendor Collaboration Portal</h1>
                <div class="row mt-4 features justify-content-center">

                    <div class="col-md-5 p-2 d-flex align-items-start gap-3">
                        <div class="icon-div">
                            <i class="ft-airplay icon-features"></i>
                        </div>

                        <div class="text-justify">
                            <h4 class="text-white mt-0 mb-1 sub-heading">Seamless UI</h4>
                            <p class="mb-0 heading-description">Intuitive and Responsive Interfaces<br>on all devices</p>
                        </div>

                    </div>


                    <div class="col-md-5 p-2 d-flex align-items-start gap-3">
                        <div class="icon-div">
                            <i class="ft-bar-chart-2 icon-features"></i>
                        </div>

                        <div class="text-justify">
                            <h4 class="text-white mt-0 mb-1 sub-heading">Vendor Dashboard</h4>
                            <p class="mb-0 heading-description">Pending orders,
                                active contracts,<br> performance metrics, and payment statuses.</p>
                        </div>

                    </div>


                    <div class="col-md-5 p-2 d-flex align-items-start gap-3">
                        <div class="icon-div">
                            <i class="ft-trending-up icon-features"></i>
                        </div>

                        <div class="text-justify">
                            <h4 class="text-white mt-0 mb-1 sub-heading">Performance Analytics</h4>
                            <p class="mb-0 heading-description">Vendors can view real-time <br> analytics and performance reports</p>
                        </div>

                    </div>

                    <div class="col-md-5 p-2 d-flex align-items-start gap-3">
                        <div class="icon-div">
                            <i class="ft-pie-chart icon-features"></i>
                        </div>

                        <div class="text-justify">
                            <h4 class="text-white mt-0 mb-1 sub-heading">Compliance Management</h4>
                            <p class="mb-0 heading-description">Ensures Regulatory and Compliance Requirements</p>
                        </div>

                    </div>


                </div>
            </div>
            <div class="icon-container1 position-absolute">
                <p class="text-center sub-heading">Copyright © 2025 LITS Vendor Portal. Powered by LITS Services. All rights
                    reserved.</p>
            </div>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center" >

            <router-outlet></router-outlet>


        </div>
    </div>
</section>